:root {
    --correct-color: #4CAF50;
    --inword-color: #FFD600;
    --incorrect-color: #9E9E9E;
    --default-color: #D3D3D3;
    --not-word-color: #D32F2F;
    --primary-text-color: #212121;
    --background-color: #fafafa;
    --overlay-background: #808080a4;
    --gap-xsmall: 5px;
    --gap-small: 10px;
    --gap-regular: 15px;
    --gap-medium: 20px;
    --gap-large: 40px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    text-align: center;
    margin: auto;
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
}

/* HEADER */
header {
    display: flex;
    align-items: baseline;
    margin: var(--gap-regular) auto;
    gap: var(--gap-regular);
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header select {
    border: 0;
    padding: var(--gap-xsmall) var(--gap-small);
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
    font-size: 1em;
    background: none;
}

header a {
    border: 0;
    border-radius: var(--gap-regular);
    padding: var(--gap-xsmall) var(--gap-small);
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
    color: var(--primary-text-color);
    background: none;
}

#statsBtn {
    margin-left: auto;
}

.material-symbols-rounded {
    vertical-align: sub;
}

@media screen and (min-width: 500px) {
    header {
        max-width: 50%;
    }
}

/* GAMEBOARD */
#gameboard {
    margin: 20px auto;
    border-spacing: 5px;
}

#gameboard td {
    border: none;
    height: 2em;
    width: 2em;
    font-size: 2em;
    text-align: center;
    background-color: var(--default-color);
    border-radius: 10px;
}

#gameboard td.incorrect,
.keyboard button.incorrect {
    background-color: var(--incorrect-color);
}

#gameboard td.inword,
.keyboard button.inword {
    background-color: var(--inword-color);
}

#gameboard td.correct,
.keyboard button.correct {
    background-color: var(--correct-color);
}

.dimmed {
    opacity: 0.7;
}

/* KEYBOARD */
.keyboard {
    max-width: 600px;
    margin: auto;
}

.keyboard .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: var(--gap-xsmall);
    gap: var(--gap-xsmall);
}

.keyboard button {
    background-color: var(--default-color);
    border: none;
    border-radius: var(--gap-xsmall);
    padding: var(--gap-regular) 0;
    width: 100%;
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    touch-action: manipulation;
}

.keyboard button i {
    font-size: 1em;
}

@media screen and (min-width: 500px) {
    .keyboard button {
        font-size: 1.1em;
    }
}

/* POPUPS */
.overlay {
    background-color: var(--overlay-background);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.message {
    background-color: var(--background-color);
    width: 70%;
    max-width: 350px;
    overflow: auto;
    border-radius: var(--gap-small);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: var(--gap-medium);
    max-height: 90vh;
}

.message .close {
    padding: var(--gap-regular);
    border-radius: var(--gap-small);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    color: var(--primary-text-color)
}

.overlay:target {
    display: block;
}

#snackbar {
    min-width: 250px;
    background-color: var(--primary-text-color);
    color: var(--background-color);
    text-align: center;
    border-radius: var(--gap-small);
    padding: var(--gap-regular);
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px var(--incorrect-color);
    transition: 0.25s;
}

#snackbar.show {
    top: var(--gap-small);
    animation: zipout 0.25s 4.5s forwards;
}

@keyframes zipout {
    from { top: var(--gap-small) }
    to { top: -100vh; }
}

/* STATS POPUP */
#status.win::before {
    content: "check_circle ";
    font-family: 'Material Icons Round';
    vertical-align: middle;
    color: #2E7D32;
}

#status.win::after {
    content: "You Won";
}

#status.lose::before {
    content: "cancel ";
    font-family: 'Material Icons Round';
    vertical-align: middle;
    color: #C62828;
}

#status.lose::after {
    content: "You Lost";
}

/* SETTINGS POPUP */
.switchMode {
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
    text-decoration: none;
    color: #212121;
}

.switchMode.left {
    background: none;
    position: absolute;
    top: 20px;
    left: 33%;
}

.switchMode.right {
    background: none;
    position: absolute;
    top: 20px;
    right: 33%;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto;
    background: #f5f5f5;
    border-radius: 6px;
    padding: 10px;
}

.stats div {
    margin: 0px 10px;
}

.stats div p:first-child {
    font-weight: bold;
    font-size: 1.5em;
}

.wordInfo {
    vertical-align: middle;
    font-size: 1.25em;
    color: #616161;
    cursor: default;
}

.shareBtn {
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    background: #4caf50;
    width: 100%;
    color: #212121;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}

#settings input[type=checkbox] {
    display: none;
}

#settings input[type=checkbox]+label::before {
    font-family: "Material Icons Round";
    content: "toggle_off";
    font-size: 32px;
    vertical-align: middle;
    color: #757575;
}

#settings input[type=checkbox]:checked+label::before {
    font-family: "Material Icons Round";
    content: "toggle_on";
    font-size: 32px;
    vertical-align: middle;
    color: #212121;
}