body {
    background-color: #fafafa;
    color: #212121;
    text-align: center;
    margin: auto;
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
}

main {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

table {
    margin: auto;
    border-spacing: 5px;
}

tr.notActive {
    opacity: 0.7;
}

td {
    border: none;
    height: 2em;
    width: 2em;
    font-size: 2em;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
}

.keyboard {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 5px;
}

.keyboard button {
    background-color: #E0E0E0;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin: 1px;
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    touch-action: manipulation;
}

.keyboard button i {
    font-size: 1em;
}

.overlay {
    background-color: #808080a4;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    overflow: auto;
}

.message {
    background-color: white;
    width: 70%;
    overflow: auto;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-height: 90vh;
}

#status.win::before {
    content: "check_circle ";
    font-family: 'Material Icons';
    vertical-align: middle;
    color: #2E7D32;
}

#status.win::after {
    content: "You Won";
}

#status.lose::before {
    content: "cancel ";
    font-family: 'Material Icons';
    vertical-align: middle;
    color: #C62828;
}

#status.lose::after {
    content: "You Lost";
}

.alert {
    background-color: #212121;
    color: #fafafa;
    border-radius: 5px;
    padding: 10px;
    display: none;
    position: fixed;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#btnRow {
    padding: 0px;
}

.header {
    position: relative;
}

.switchMode {
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
    text-decoration: none;
    color: #212121;
}

.switchMode.left {
    background: none;
    position: absolute;
    top: 20px;
    left: 33%;
}

.switchMode.right {
    background: none;
    position: absolute;
    top: 20px;
    right: 33%;
}

#statsBtn {
    display: block;
    padding: 0;
}

#translationBtn {
    padding: 0;
    margin-top: 18px;
}

@media screen and (min-width: 500px) {
    .keyboard button {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1000px) {
    .switchMode.left {
        left: 15%;
    }
    
    .switchMode.right {
        right: 15%;
    }
}

@media screen and (max-width: 500px) {
    .switchMode.left {
        left: 1%;
    }
    
    .switchMode.right {
        right: 1%;
    }
}

button.bad,
td.bad {
    background-color: #9E9E9E;
}

button.inword,
td.inword {
    background-color: #FFD600;
}

button.good,
td.good {
    background-color: #4CAF50;
}

/* fonts */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/res/fonts/MaterialIcons-Regular.ttf);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/res/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    vertical-align: middle;
}

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/res/fonts/MavenPro-VariableFont_wght.ttf);
    /* For IE6-8 */
    src: local('Maven Pro'),
        url(/res/fonts/MavenPro-VariableFont_wght.ttf) format('truetype');
}

button {
    font-family: 'Maven Pro', sans-serif;
}

button i {
    vertical-align: middle;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto;
    background: #f5f5f5;
    border-radius: 6px;
    padding: 10px;
}

.stats div {
    margin: 0px 10px;
}

.message .close {
    border: none;
    padding: 15px 20px;
    border-radius: 0px 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background: #fff;
    cursor: pointer;
}

.stats div span {
    display: block;
    margin: 5px;
}

#gamesPlayed,
#gameScore,
#successRate {
    font-weight: bold;
    font-size: 1.25em;
}

.wordInfo {
    vertical-align: middle;
    font-size: 1.25em;
    color: #616161;
    cursor: default;
}

.message {
    max-width: 350px;
}

.shareBtn {
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    background: #4caf50;
    width: 100%;
    color: #212121;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        color: #fafafa !important;
        background-color: #212121;
    }
    
    .message {
        background-color: #212121;
    }
    
    .alert {
        background-color: #fafafa;
        color: #212121;
    }
    
    .message a, .message .close {
        color: #fafafa;
    }
    
    .switchMode {
        color: #fafafa;
    }
    
    .stats, .message .close{
        background-color: #212121;
    }

    td, select.switchMode {
        color: #212121;
    }
}

body.darkMode {
    color: #fafafa !important;
    background-color: #212121;
}

body.darkMode .message {
    background-color: #212121;
}

body.darkMode .alert {
    background-color: #fafafa;
    color: #212121;
}

body.darkMode .message a, body.darkMode .message .close {
    color: #fafafa;
}

body.darkMode .switchMode {
    color: #fafafa;
}

body.darkMode .stats, body.darkMode .message .close{
    background-color: #212121;
}

body.darkMode select.switchMode, body.darkMode td {
    color: #212121;
}

tr.notAWord td {
    font-weight: bold;
    color: rgb(211, 47, 47);
}

p.bottom-links {
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    padding: 5px;
}

.bottom-links a {
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    color: #757575;
}

.bottom-links a:hover {
    background-color: #E0E0E0;
}